{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}
{% block content %}
<div class="row mt-4">
    <div class="col-3">
        <div class="text-center">
            <img src="{%if request.user.avatar%} {{request.user.avatar.url}} {% else %} {% static 'img/images.png' %} {% endif %}" class="rounded-circle avatar_profile"  alt="">
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-6 text-center">
                <h1>{{request.user.first_name}}</h1>
            </div>
            <div class="col-6 text-center">
                <a href="{% url 'profile_edit' request.user.username %}" class="btn btn-outline-secondary">Edit profile</a>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="mt-5 custom_ul" >
                        <li class="custom_li font_ul">Publications {{object_list.count}}</li>
                        <li class="custom_li font_ul li_menu" data-bs-toggle="modal" data-bs-target="#Subscribers">Followers {{request.user.rel_to_set.count}}  </li>
                        <li id="total" class="custom_li font_ul li_menu" data-total_subscribe="{{request.user.rel_from_set.count}}" data-bs-toggle="modal" data-bs-target="#Subscription">Subscription {{request.user.rel_from_set.count}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3"> </div>

</div>

<hr class="mt-5">


<div class="row row-cols-1 row-cols-md-3 g-4">
    {%for post in object_list%}
      <div class="col">
        <div class="card h-100">
            <a href="{{post.get_absolute_url}}" class="h-100">
                <img src="{{post.image.url}}" class="card-img-top h-100 image" alt="...">
            </a>
        </div>
      </div>
    {% endfor %}
</div>
<hr>
<div class="m-3 aside">
     <nav aria-label="Page navigation example">
          <ul class="pagination">
               {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link link-secondary" href="?page=1">&laquo; First</a></li>
                    <li class="page-item"><a class="page-link link-secondary" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
               {% endif %}

                <li class="page-item"><a class="page-link link-secondary" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link link-secondary" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link link-secondary" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
                {% endif %}
          </ul>
     </nav>
</div>

<!-- Modal Subscription-->
<div class="modal fade" id="Subscription" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel1">Subscription</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          {% for subscriber in request.user.rel_from_set.all %}
             <div class="card mb-3">
              <div class="card-body ">
                  <div class="row">
                      <div class="col-2">
                          <a href="">
                              <img src="{{subscriber.user_to.avatar.url}}" class="rounded-circle avatar_subs" alt="">
                          </a>
                      </div>
                      <div class="col-6">
                          <a href="">{{subscriber.user_to.first_name}}</a>
                      </div>
                      <div class="col-4">                                                
                            <button id="subscriptions" data-id_subscribe={{subscriber.user_to.id}} class="btn btn-outline-secondary">Subscriptions</button>                       
                            <!-- <button id="subscribe" class="btn btn-danger">Subscribe</button> -->   
                      </div>
                  </div>
              </div>
            </div>
          {% endfor %}
      </div>
    </div>
  </div>
</div>


<!-- Modal  Subscribers-->
<div class="modal fade" id="Subscribers" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel2">Subscribers</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          {% for subscriber in request.user.rel_to_set.all %}
             <div class="card mb-3">
              <div class="card-body ">
                  <div class="row">
                      <div class="col-2">
                          <a href="">
                              <img src="{{subscriber.user_from.avatar.url}}" class="rounded-circle avatar_subs" alt="">
                          </a>
                      </div>
                      <div class="col-6">
                          <a href="">{{subscriber.user_from.first_name}}</a>
                      </div>
                      <div class="col-4">
                            <a href="{% url 'subscription_delete' subscriber.user_from.id%}" class="btn btn-outline-secondary">Delete</a>
                      </div>
                  </div>
              </div>
            </div>
          {% endfor %}
      </div>
    </div>
  </div>
</div>

{% csrf_token %}
<script src="{% static 'js/subscription_list.js'%}" ></script>

{% endblock %}